python 3.7.3
discord = 1.0.1
discord.py = 1.2.3
gtts = 2.0.3
pip install setuptools
pip install discord
pip install discord.py[voice]
pip install gtts
pip install pyssml
pip install pywin32
pip install pyinstaller
